.bg-image-1 {
    background-image: url("../img/1.png");
    background-color: white;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
   
  
}
.bg-image-2 {
    background-image: url("../img/15.png");
    background-color: white;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
   
  
}
.bg-image-3 {
    background-image: url("../img/17.png");
    background-color: white;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
   
  
}

.bg-image-intre0 {
    background-image: url("../img/banner-01.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-between {
    background-image: url("../img/video-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-between2 {
    background-image: url("../img/video-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-between3 {
    background-image: url("../img/contact-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(228, 222, 222, 0.274);
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: red!important;
}
.card {
    cursor: pointer;
    transition: ease 0.5s;
}
.card:hover {
    transform: translateY(-15px);
}
.card1 {
    cursor: pointer;
    transition: ease 0.7s;
}
.card1:hover {
    transform: translateY(-10px);
}
.hero-wrapper {
    position: relative;
    background-color: #f8f6f0;
    overflow: hidden;
    z-index: 1;
}
.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #ebdbe5;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    z-index: -1;

}
.container-lg{
    position: relative;
    z-index: 2;
}